@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1, h2, h3, h4, h5, p {
        @apply font-artifika
    }
}

.home {
    background-image: url("../public/assets/pictures/hero.png");
    background-repeat: no-repeat; 
    background-position: center 10%;
    background-size: cover;
}
