@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1, h2, h3, h4, h5, p {
        @apply font-artifika
    }

    .home {
        @apply bg-no-repeat
    }

}

.home {
    background-image: url("../public/assets/pictures/hero.png");
    /* background-position: center 10%; */
    
}

@media (min-width: 1536px) {
    .home {
        background-size: cover;
        background-position: center top;
    }
}

@media (min-width: 1280px) {
    .home {
        background-size: cover;
        background-position: center top;
    }
}

@media (min-width: 1024px) {
    .home {
    }
}
